* {
    margin: 0;
    padding: 0;
}

body {
    font-family: inter;
}

header {
    margin: 12px 0;
}


nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;


}

/* .logo img {
    margin: 2px;
} */

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 10px;
}

ul li {
    padding: 0px 10px;
    align-content: center;
}

ul li a {
    color: #575757;
    text-decoration: none;
}

.nav-btn {
    background-color: #1d4ed8;
    color: #fff;
    font-weight: 700;
    padding: 0px 30px;
    margin: 5px 0px;
    border: none;
    border-radius: 10px;
}

/* Navbar Css Ends Here */

/* Banner Css Starts Here */
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    inset: 0;
}

.banner-area {
    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    max-width: 80%;
    gap: 200px;
    z-index: 1;

}



.banner-heading {
    font-size: 5rem;
    font-weight: 700;
    padding: 20px 0px;
}

.banner-heading span {
    font-style: italic;
}

.banner p {
    font-size: 1.3rem;
    max-width: 60%;
    margin: auto;
}

.banner-btn {
    padding: 18px 42px;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #1d4ed8;
}

/* Banner Css Ends Here */

.speakers {
    max-width: 1200px;
    margin: auto;
}

.speakers-heading {
    margin: 60px auto;
    text-align: center;
    font-size: 3rem;
}

.all-speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.speakers-card {
    margin: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}

.speakers-card img {
    width: 100%;
    height: auto;
}

.speakers-card h4 {
    color: #2563eb;
    margin: 10px auto;
}

.speakers-card p {
    color: #575757;
    margin: 10px auto;
}

/* Pricing Section Starts */